[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "erah"]
	path = erah
	url = https://github.com/xdomingoal/erah-devel
[submodule "osd"]
	path = osd
	url = https://github.com/cran/osd
