[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "erah"]
	path = erah
	url = https://github.com/xdomingoal/erah-devel
	shallow = true
	registered = true
